@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
  --color-primary: #13a4ec;
  --color-primary-hover: #0f8cc9;
  --color-background-dark: #0f0f0f; 
  --color-surface-dark: #1a1a1a;
  --color-card-dark: #262626;
  --color-input-bg: #333333;
  --color-text-secondary: #a3a3a3;
  
  --shadow-glow: 0 0 15px rgba(19, 164, 236, 0.3);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.bg-grid-subtle {
  background-size: 40px 40px;
  background-image: linear-gradient(
      to right,
      rgba(34, 211, 238, 0.03) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(34, 211, 238, 0.03) 1px, transparent 1px);
}
